.achievements {
    width: 100%;
    background: $cod-gray;
    padding: 100px 0;
    .wrapper {
        display: flex;
        align-items: flex-start;
        .achievements-section {
            &:hover {
                svg {
                    path {
                        fill:url(#paint0_linear_434_2740);
                    }
                }
                cursor: pointer;
                .achievements-counter {
                   background:linear-gradient(90.96deg, #51E589 0%, #0EC3B5 99.64%);
                   -webkit-background-clip: text;
                   -webkit-text-stroke: 1px transparent;
                  
                  
                }
            }
        margin-right: 5%;
        }
    }

}
.achievements-section {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}
.achievements-counter{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 80px;
    line-height: 121px;
    color: #151515;
    background: #151515;
    -webkit-text-stroke: 1px #fff;
    margin-bottom: 0;
}
.achievements-text {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 0;

}
/*PARTNERS------------------------------------------------------------------------------*/
.achievements {
    .wrapper {
        .partners-achievements{
            &:hover {
                cursor: pointer;
                .achievements-counter {
                    background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%);
                    -webkit-background-clip: text;
                    -webkit-text-stroke: 1px transparent;
                    text-shadow: 0px 0px 2px rgba(21, 21, 21, 1);
                }
                svg {
                   path {
                    fill: url(#paint0_linear_869_11840);
                   }
                }
            }
            .achievements-counter {
                color: #151515;
                text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
            }
        }
    }
}
/*@media min-width: 992px --------------------------------------------*/ 
@media (max-width: 992px) {
.achievements {
    padding: 80px 0;
    .wrapper {
        padding-left: 16%;
        flex-wrap: wrap;
        .achievements-section {
            width: 45%;
            &:nth-of-type(1) {
                margin-bottom: 85px;
            }
            &:nth-of-type(2) {
                margin-bottom: 85px;
            }
        }
    }
}
}
/*@media min-width: 576px --------------------------------------------*/ 
@media (max-width: 576px) {
.achievements {
    padding-top: 56px;
    padding-bottom: 56px;
    .wrapper {
        .achievements-section {
            width: 45%;
            &:nth-of-type(1) {
                margin-right: 5%;
            }
            &:nth-of-type(2) {
                margin-right: 0;
            }
            &:nth-of-type(3) {
                margin-right: 5%;
                margin-bottom: 0;
            }
            &:nth-of-type(4) {
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }
}
.achievements-counter {
    font-size: 44px !important;
    line-height: 55px !important; 
}
.achievements-text {
    font-size: 14px;
}
} 





