/*button Send Request------------------------------------*/
.btn-send-request{
    width: 112px;
    height: 112px;
    background:#151515 !important;
    border-radius: 50%;
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    @include text-center;
    color:white;
    margin-left: 40px;
    padding: 45px;
    transition: all 1s ease;
    transform: scale(1);
    &:hover {
        background: linear-gradient(90.96deg,#0EC4B5 0%,#51E689 99.64%) !important;
        
        color: #151515;
      }   
}



.partners-btn-hover {
    &:hover {
        background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%);
        animation: none;
        }
}
.btn-send-request{

    &:hover {
        background: linear-gradient(90.96deg,#0EC4B5 0%,#51E689 99.64%);
        animation: none;
        color: white;
        }
}
