/*button Send Request------------------------------------*/
.btn-send-request{
    width: 112px;
    height: 112px;
    background:#151515 !important;
    border-radius: 50%;
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    @include text-center;
    color:white;
    margin-left: 40px;
    padding: 45px;
    transition: all 1s ease;
    transform: scale(1);
}



body {
  overflow: hidden;
}

body.loaded {
  overflow-x: hidden;
}

#loader {
    width: 100%;
    height: 100vh;
   overflow: hidden;
    background: #151515;
    position: fixed;
    overflow: hidden;
    display: block;
    z-index: 999999999;
    .loader-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background: #151515;
        border: 1px solid #fff;
        border-radius: 24px;
        height: 160px;
        width: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
}
.loader-container-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        margin-top: 10px;
        color: #fff;
        font-weight: 800;
        font-size: 16px;
        margin-bottom: 0;
    }
    img {
        width: 92px;
        height: 92px;
    }
}
.b {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 30px;
  }
  .b div {
    position: absolute;
    top: 13px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .b div:nth-child(1) {
    left: 8px;
    animation: b1 0.6s infinite;
  }
  .b div:nth-child(2) {
    left: 8px;
    animation: b2 0.6s infinite;
  }
  .b div:nth-child(3) {
    left: 32px;
    animation: b2 0.6s infinite;
  }
  .b div:nth-child(4) {
    left: 56px;
    animation: b3 0.6s infinite;
  }
  @keyframes b1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes b3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes b2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }



  @keyframes pulse {
    0% {
      transform: translate(-50%,-50%) scale(0.5);
      opacity: 1;
    }
    100% {
      transform: translate(-50%,-50%)  scale(1);
      opacity: 0;
    }
  }
  
  $dot-size: 112px;
  $button-size: 112px;
  
  .dot {
    max-width: 90vw !important;
    max-height: 90vh !important;
    width: $dot-size;
    height: $dot-size;
    position: absolute;
    top: -$dot-size / 2;
    left: -$dot-size / 2;
    pointer-events: none;
    transform: rotate(-90deg) scale(#{ $button-size/ ($dot-size/3)});
    z-index: 1;
  
    &.button-hover {
      svg {
        transform: rotate(-90deg) scale(#{ $button-size/ ($dot-size/3)});
      }
    }
  
    svg {
      width: 100%;
      position: absolute;
      transform: rotate(-90deg);
      transition: 600ms all cubic-bezier(0.23, 1, 0.32, 1);
  
      path {
        width: 20px;
        height: 20px;
        fill: url(#paint0_linear_869_11840);
        transition: 600ms all cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }
  
  .button {
    border: none;
    max-width: 100vw;
    max-height: 100vh;
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    background: #151515;
    transform: translate(30%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    &:after {
      content: "";
      position: absolute;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      border-radius: 50%;
      top: 0;
      left: 0;
    }
  
    &:before {
      content: "";
      position: absolute;
      width: 150%;
      height: 150%;
      border-radius: 50%;
        left: 50%;
      top: 50%;
      background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%);
      transform: translate(-50%, -50%) scale(0);
      transform-origin: 50% 50%;
    }
    
    &.pulse {
        background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%);
        color: #fff;
      span {
        color: #fff;
      }
      &:before {
      animation: pulse 1000ms forwards cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  
    span {
        font-weight: 600;
        font-size: 16px;
        line-height: 115%;
         display: block;
        color: #fff;
        white-space: nowrap;
        transition: 600ms all cubic-bezier(0.23, 1, 0.32, 1);
    }
  }
  