.footer {
    width: 100%;
    background: #151515;
    padding: 80px 0 100px 0;
    .wrapper {
        display: flex;
        align-items: flex-start;
        margin: 0 auto;
        position: relative;
    }
}
.footer-navigation {
    display: flex;
    justify-content: space-between;
    width: 45%;
}
.footer-text {
    position: absolute;
    bottom: -50px;
    left: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}
.footer-logo {
    width: 55%;
    display: flex;
    align-items: center;
    a {
        img {
            width: 72px;
            height: 72px;
            object-fit: contain;
            margin-top: -10px;
        }
    }
}
.footer-logo-text {
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    color: #FFFFFF;
}
.footer-navigation {
    nav {
        ul {
            li {
                margin-bottom: 24px;
                a {
                    font-size: 18px;
                    line-height: 140%;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }
    }
}
.footer-module {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .toggle-switch {
        padding-left: 0;
         .toggle-custom {
            display: flex;
            flex-direction: column;
            width: max-content;
            align-items: flex-start;
            a {
                font-size: 18px;
                line-height: 140%;
                color: #FFFFFF;
                text-decoration: none; 
                padding-left: 0;
                &:nth-of-type(1) {
                    margin-bottom: 24px;
                }
            }
         }
    }
    button {
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        border: none;
        background: transparent;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &:after {
            content: "";
            background: url(../images/contact-us.png);
            background-size: contain;
            width: 40px;
            height: 40px;
            display: flex;
            margin-left: 10px;
        }
        span {
            margin: 0 5px;
        }
    }
}
.footer-link {
    &:hover {
        background: linear-gradient(90.96deg, #0EC4B5 0%,#51E689 99.64%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}
@media (max-width: 992px) {
.footer {
    .wrapper {
        justify-content: space-between;
    }
}
.footer-logo {
    width: 40%;
}
.footer-navigation {
    width: 55%;
}
}
@media (max-width: 768px) {
.footer {
    padding-top: 50px;
    .wrapper {
        flex-direction: column;
    }
}
.footer-navigation {
    width: 70%;
    padding-left: 30%;
}
.footer-logo {
    width: 100%;
}
}
@media (max-width: 576px) {
    .footer-navigation {
        width: 95%;
        padding-left: 5%;
    }
.footer-logo {
    margin-bottom: 30px;
    }
.footer-navigation {
    nav  {
        ul  {
            li  {
                a {
                    font-size: 3vw;
                }
            }
        }
    }
}
.footer-module {
    .toggle-switch  {
        .toggle-custom {
            a {
                font-size: 3vw;
            }
        }
    }
}
}
