.footer {
    width: 100%;
    background: #151515;
    padding: 80px 0 100px 0;
    .wrapper {
        display: flex;
        align-items: flex-start;
        margin: 0 auto;
        position: relative;
    }
}
.footer-navigation {
    display: flex;
    width: 50%;
}
.footer-text {
    position: absolute;
    bottom: -50px;
    left: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}
.footer-logo {
    width: 50%;
    display: flex;
    align-items: center;
    a {
        img {
            width: 72px;
            height: 72px;
            object-fit: contain;
            margin-top: -10px;
        }
    }
    .footer-logo-text {
        font-weight: 500;
        font-size: 13px;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 0;
        margin-left: 8px;
    }
}

.footer-navigation {
    nav {
        ul {
            li {
                margin-bottom: 24px;
                a {
                    font-size: 18px;
                    line-height: 140%;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }
    }
}
.footer-module {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30%;
    .toggle-switch {
        padding-left: 0;
        margin-left: 0;
        height: 98%;
         .toggle-custom {
            display: flex;
            flex-direction: column;
            width: max-content;
            align-items: flex-start;
            a {
                font-size: 18px;
                line-height: 140%;
                color: #FFFFFF;
                text-decoration: none; 
                padding-left: 0;
                &:nth-of-type(1) {
                    margin-bottom: 24px;
                }
                &:nth-of-type(2) {
                    opacity: 1;
                }
            }
         }
    }
  
}
.part {
    padding-top: 50px;
    .toggle-custom {
        a {
            &:hover {
                &:nth-of-type(1) {
                    background: linear-gradient(90.96deg,#0EC4B5 0%,#51E689 99.64%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
        }
    }
}
.partners-blue-hover{
    margin-top: -51px;
        background: transparent;
        color: #fff;
        
            span {
                &:nth-of-type(2) {
                width: 48px;
                height: 48px;
                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 6;
                }
            }
            }
            
            .icon {
                &:before {
                    width: 48px;
                    height: 48px;
                    left: 0;
                    top: 0;
                }
            }
        
       
   
}
.client-ho {
    width: 180px !important;
    span {
       &:nth-of-type(1) {
        width: 110px;
        margin-right: 15px;
       }
    }
    &:hover {
        .icon-expand {
            &:before {
                content: '';
                background:#2ED7AB !important;
                box-shadow: inset 0 0 0 1px #151515;
                width: 48px;
                    height: 48px;
                background-size: cover;
               
            }
        }
        span {
            color: #2ED7AB !important;
            transition: all 1s;
        }
    }
}
.client-link {
    nav {
        ul {
            li {
                a {
                    &:hover {
                        background: linear-gradient(90.96deg,#0EC4B5 0%,#51E689 99.64%);
                        -webkit-background-clip: text !important;
                        -webkit-text-fill-color: transparent !important;
                        background-clip: text !important;
                    }
                }
            }
        }
    }
}
.partners-blue-hover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    span {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        width: 100px;
    }
    &:hover {
        .icon-expand {
            &:before {
                content: '';
                background:#35C5F0;
                box-shadow: inset 0 0 0 1px #151515;
                width: 41px;
                height: 41px;
                left: 3px;
                top: 3px;
                background-size: cover;
               
            }
        }
        span {
            color: #35C5F0;
            transition: all 1s;
        }
    }
}
.link-none {
    &:hover {
        background: white !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        background-clip: text !important;
    }
}
.client-hover {
    &:hover {
        background: linear-gradient(90.96deg, #0EC4B5 0%,#51E689 99.64%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}
.module-hover-client {
    &:hover {
        &::after {
            content: "";
            background: url(../images/module-hover.png);
            background-size: contain;
        }
    }
}
@media (max-width: 992px) {
.footer {
    padding-top: 78px;
    .wrapper {
        flex-direction: column;
    }
}
.footer-logo {
    margin-bottom: 70px;
}
.footer-navigation {
    padding-left: 16%;
    width: 100%;
}
.footer-text {
    bottom: -100px;
    margin-bottom: 50px;
}
}
@media (max-width: 576px) {
.footer-navigation {
    width: 95%;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    margin-bottom: 30px;
    width: 100%;
    }
.footer-navigation {
    nav  {
        ul  {
            li  {
                margin-bottom: 20px;
                a {
                    font-size: 13px;
                }
            }
        }
    }
}
.footer-module {
    .toggle-switch  {
        .toggle-custom {
            a {
                font-size: 13px;
                &:nth-of-type(1) {
                    margin-bottom: 20px;
                }
            }
        }
    }
    button {
        font-size: 13px;
        margin-bottom: 8px;
        margin-top: 20px;
    }
}
.footer {
    padding-top: 35px;
}
.footer-text {
    bottom: -80px;
}
.partners-blue-hover  {
    width: auto;
   span {
    font-size: 13px !important;
    width: auto;
    &:nth-of-type(1) {
        margin-right: 10px;
    }
   }
}
}
