.get-in-touch {
    background: $cod-gray;
    padding: 120px 0;
    .wrapper {
        h2 {
            margin-top: 0;
            color: white;
            margin-left: 50%;
            position: relative;
            margin-bottom: 0;
            span {
                filter: drop-shadow(3px 3px #fff);
                    -webkit-text-stroke: 1px #151515;
            }
            &::before {
                content: "05";
                font-weight: 800;
                font-size: 24px;
                line-height: 110%;
                text-align: right;
                opacity: 0.5;
                position: absolute;
                top: 0;
                left: -40px;
            }
        }
    }
}
.get-in-touch-container_form {
    form {
        .form-row {
            justify-content: flex-start;
            margin-bottom: 50px;
            input, textarea {
                margin-left: 0;
            }
            .invalid-feedback {
                top: 60px;
                left: 0;
            }
            &:nth-of-type(4) {
                .invalid-feedback {
                    top: 120px;
                    
                }
            }
        }
    }
}
.get-in-touch-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;
}
.get-in-touch-container_contact {
    width: 30%;
    line-height: 150%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span {
        font-weight: 600;
        font-size: 16px;
        opacity: 0.5;
    }
    p {
        font-size: 20px;
        margin-bottom: 40px;
        line-height: 150%;
    }
    a {
        text-decoration: none;
        font-size: 20px;
        color: white;
        margin-bottom: 45px;
    }
}
.get-in-touch-container_contact-icon {
    padding-top: 10px;
    display: flex;
    a {
        width: 60px;
        height: 60px;
        border: 2px solid #FFFFFF;
        border-radius: 16px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
}
.get-in-touch-container_contact-icon {
    a {
        &:hover {
            background: linear-gradient(90.96deg, #0EC4B5 0%,#51E689 99.64%);
        }
    }
}

    .get-partners-icon {
        a {
            &:hover {
                background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%) !important;
            }
        }
    }

.get-in-touch-container_form {
    width: 50%;
   form {
    display: flex;
    flex-direction: column;
    input, textarea {
        width:80%;
        height: 55px;
        background: transparent;
        border-radius: 16px;
        margin-bottom: 16px;
        border:  2px solid #8A8A8A;
        padding-left: 15px;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color:  white;
        position: relative;
   }
   textarea {
    height: 120px !important;
    margin-bottom: 40px;
   }
}
}
form {
    color: #fff !important;
    &:focus {
        color: #fff !important;
    }
}
.form-control {
    &:focus {
        color: #fff;
    }
}
.btn-send-request-white {
    width: 112px;
    height: 112px;
    background:white !important;
    border-radius: 50%;
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    @include text-center;
    color: #151515;
    margin-right: 40px;
    padding: 45px;
}
.get-in-touch-submit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    margin-top: 50px;
    p {
        width: 40%;
        font-size: 18px;
        line-height: 140%;
        display: flex;
        flex-wrap: wrap;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #FFFFFF;
        margin-bottom: 0
    }
}
.partners-get-in-touch {
    .wrapper {
        h2 {
            span {
                @include partners-gradient;
            }
        }
    }
}
.partners-form {
    form {
        input, textarea {
            &:focus {
                box-shadow: 0 1px 0 #29A9EE, inset 0 1px 0 #41E4F0;
              }
        }
    }
}
.bg-white {
    background:#fff;
    color: #151515;
    transform: translate(0%, 0%);
    margin-right: 25px;
    span {
        color: #151515;
    }
}
.partners-form {
    .get-in-touch-submit {
        .icon {
            background: #fff;
            span {
                top: 40%;
                left: 31%;
                color: #151515;
            }
            &:hover {
                span {
                    color: #fff;
                }
            }
        }
        p {
            margin-left: 40px;
        }
        .icon-expand{
            &::before{
              background: #35C5F0;
              border-radius: 50%;
              box-shadow: inset 0 0 0 $icon-size #fff;
            }
            &:hover {
                &:before {
                    border-radius: 50%;
                    box-shadow: inset 0 0 0 1px #35C5F0;
                }
            }
        }
    }
}
/*@media min-width: 992px --------------------------------------------*/
@media (max-width: 992px) {
.get-in-touch {
    padding: 120px 0;
    .wrapper {
        padding-left: 16%;
        h2 {
            margin-left: 0;
        }
        .get-in-touch-container {
            margin-top: 56px;
            flex-direction: column-reverse;
            .get-in-touch-container_form {
                width: 100%;
            }
            .get-in-touch-container_contact {
                margin-top: 96px;
                width: 50%;
            }
        }
    }
}
.partners-get {
    .partners-form  {
        .form-row {
            .invalid-feedback {
                top: 60px !important;
            }
            &:nth-of-type(4) {
               .invalid-feedback {
                top: 125px !important;
               }
            }
        }
    }
}
}

/*@media min-width: 576px --------------------------------------------*/
@media (max-width: 576px) {
    .get-in-touch {
        padding: 80px 0;
        .wrapper {
            padding-left: 0;
            h2 {
                font-size: 40px;
                padding-left:0;
                &:before {
                   content: none;
                }
            span {
                filter: drop-shadow(2px 0px #fff);
            }
            }
            .get-in-touch-container {
                margin-top: 32px;
                .get-in-touch-container_contact {
                    margin-top: 50px;
                }
            }
        }
    }
.get-in-touch-container_form {
    form {
        width:100%;
        margin-bottom: 0;
        input {
            height: 47px;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 12px;
        }
        textarea {
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 28px;
        }
}
.get-in-touch-submit {
    flex-direction: row;
    justify-content: space-between;
    p {
        font-size: 14px;
    }
}
}
.get-in-touch-submit {
    width: 90%;
    button {
        width: 88px;
        height: 88px;
        font-size: 12px;
        margin-right: 0;
    }
    p {
        width: 70% !important;
    }
}
.get-in-touch-container_contact {
    width: 90%;
}
.get-in-touch-container_contact  {
    span {
        font-size: 12px;
    }
    p,a {
        font-size: 16px;
        margin-bottom: 20px;
    }
}
.get-in-touch-container_contact-icon {
    a {
        width: 46px;
        height: 46px;
        margin-bottom: 0;
        svg {
            width: 18px;
            height: 18px;
        }
    }
}
.partners-get {
    .partners-form  {
        .form-row {
            .invalid-feedback {
                top: 45px !important;
            }
            &:nth-of-type(4) {
               .invalid-feedback {
                top: 125px !important;
               }
            }
        }
    }
}
.get-in-touch-submit {
    margin-top: 0;
}
.partners-form  {
    .get-in-touch-submit {
        .icon  {
            span {
                font-size: 12px;
            }
        }
    }
}
}
