@mixin form-tittle {
  font-weight: 800;
  font-size: 16px;
  line-height: 110%;
  color: #FFFFFF;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: -40px;
} 
#modul-window_open{
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  background: transparent;
  width: max-content;
  border: none;
  font-size: 16px;
  line-height: 150%;
  color:#fff;
  top: 65px;
  right: 30%;
  -webkit-appearance: none;
  &:after {
    content: "";
    background: url(../images/contact-us.png);
    background-size: contain;
    width: 40px;
    height: 40px;
    display: flex;
    margin-left: 10px;
  }
  &:hover {
    background: linear-gradient(90.96deg, #51E689 0%, #0EC4B5 99.64%);
    background-image: linear-gradient(90.96deg, #51E689 0%, #0EC4B5 99.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    &::after {
      background: url(../images/module-hover.png);
      background-size: contain;
      width: 40px;
      height: 40px;
    }
  }
}
.modal{
  display: none;
  width: 100%;
  height: 100%;
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: $cod-gray;
}
.modal_close{
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  
}
.modal_animation{
  width: 100%;
  animation: fadeIn 0.5s 1;
}
@keyframes fadeIn {
  0% {opacity: 0}
  10% {opacity: 0.1}
  20% {opacity: 0.2}
  30% {opacity: 0.3}
  40% {opacity: 0.4}
  50% {opacity: 0.5}
  60% {opacity: 0.6}
  70% {opacity: 0.7}
  80% {opacity: 0.8}
  90% {opacity: 0.9}
  100% {opacity: 1}
}
.modul-window-main {
  margin: 0 auto;
  width: 950px;
  padding-top: 95px;
  form {
    width: 100%;
    label {
      font-size: 16px;
      line-height: 140%;
      text-align: right;
      width: 320px !important;
      display: inline-block;
      margin-right: 14px;
      color:#8A8A8A;
      position: relative;
    }
    input, textarea {
      width:600px;
      height: 40px;
      background: transparent;
      border-radius: 16px;
      margin-bottom: 28px;
      border:  1px solid #8A8A8A;
      padding-left: 10px;
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      color:  white;
      display: inline-block;
      &:focus {
        background: #262626;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color: white;
        box-shadow: 0 1px 0 #51E589, inset 0 1px 0 #0EC3B5;
      }
    }
  }
}
textarea {
  height: 160px !important;
  padding-top: 10px;
  resize: none;   
}    
.modul-window-header {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-bottom: 1px solid #6D6D6D;
  p {
    font-size: 20px;
    line-height: 25px;
  }
}
h3 {
  font-weight: 800;
  font-size: 32px;
  line-height: 140%;
  color:$white;
  position: relative;
  text-align: left;
  margin-bottom: 40px;
  margin-left: 336px;
  &:before {
    content: "01";
    @include form-tittle;
  }
  &:nth-of-type(2) {
    margin-top: 100px;
    &::before {
      content: "02";
      @include form-tittle;
    }
  }
  &:nth-of-type(3) {
    margin-top: 100px;
    &::before {
      content: "03";
      @include form-tittle;
    }
  }
  &:nth-of-type(4) {
    margin-top: 100px;
    &::before {
      content: "04";
      @include form-tittle;
    }
    }
}
.partners-toggle-switch {
  .toggle-custom {
    label {
     
        &:after {
          top: 1px !important;
       
      }
    }
  }
}
.clients {
  .submit-form {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #151515;
    background: #fff;
    padding: 0;
    border: none;
    margin-left: 336px;
    display: inline-block;
  }
}
.iti.iti--allow-dropdown {
    margin-bottom: 28px !important;
}
.partners-form {
  .submit-form {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #151515;
    background: #fff;
    padding: 0;
    border: none;
    margin-left: 336px;
    display: inline-block;
  }
}
.submit-recommendation {
  display: inline-block ;
  margin-left: 40px;
  color: #D0D0D0;
  font-size: 18px;
  line-height: 140%;
  span {
    background: linear-gradient(90.96deg, #0EC4B5 0%,#51E689 99.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
.iti__country-list {
  background: #151515 !important;
}
.iti__country-name {
  color:white !important;
}
.select-number {
  background: transparent !important;
  border-radius: 16px !important;
  border: 1px solid #8A8A8A !important;
}
.partners-form {
  input,textarea {
    &:focus {
      box-shadow: 0 1px 0 #29A9EE, inset 0 1px 0 #41E4F0 !important;
    }
  }
}
.partners-hover {
  li {
    a {
      &:hover {
        background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        background-clip: text !important;
      }
    }
  }
}
.partners-hover .chec:hover ~ .menuToggle-span {
  background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%) !important;
}
.modal1 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.logo-modal-message {
  margin-bottom: 50px;
  position: relative;
  div {
    display: flex;
    align-items: center;
    a {
      img {
        width: 72px;
        height: 72px;
        max-width: 100%;
        object-fit: contain;
      }
    }
  }
  p {
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 7px;
  }
}
.modal-message {
  display: flex;
  width: 100%;
  background: linear-gradient(90.96deg, #0DC6B7 0%, #61F198 99.64%);
  border-radius: 48px;
  height: fit-content;
}
.partners-modal {
  background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%);
}
.modal-message_text {
  width: 45%;
  padding: 59px 0 39px 80px;
  p {
    &:nth-of-type(1) {
      font-weight: 800;
      font-size: 64px;
      line-height: 115%;
      color: #151515;
      margin-bottom: 8px;
    }
    &:nth-of-type(2) {
      font-size: 18px;
      line-height: 140%;
      color: #151515;
      margin-bottom: 42px;
    }
  }
  button {
      width: 112px;
      height: 112px;
      border-radius: 50%;
      background: #151515;
      font-weight: 600;
      font-size: 16px;
      line-height: 115%;
      display: flex;
      align-items: center;
     justify-content: center;
      color: #fff;
  }
}

.modal-message_img {
  width: 55%;
  img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.modal-content {
  margin: 0 auto; 
  width: 1200px; 
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 25px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-message-manager {
  display: flex;
  justify-content: flex-end; 
  margin-top: 20px;
    p{
      font-size: 16px;
      line-height: 140%;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      a {
        text-decoration: none;
        background: linear-gradient(90.96deg, #0EC4B5 0%,#51E689 99.64%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 0 5px;
      }
    }

}
#menu {
  .wrapper {
    .partners-toggle-switch {
      .toggle-custom {
        label {
           
            input {
              opacity: 0;
            }
           
        }
        a {
        &:nth-of-type(1) {
          span {
            background: linear-gradient(90.96deg, #fff 0%, #fff 99.64%) !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            background-clip: text !important;
          }
        }
      }
    }
  }
}
}
.partners-form {
  input,textarea {
    &:hover {
      box-shadow: 0 1px 0 #29A9EE , inset 0 1px 0 #41E4F0;
      cursor: pointer;
    }
    &:focus {
      box-shadow: 0 1px 0 #29A9EE , inset 0 1px 0 #41E4F0;
      cursor: pointer;
    }
  }
}
.file-upload {
  display: flex;
  font-size: 16px;
  line-height: 140%;
  color:#8A8A8A;
  height: 40px;
    align-items: flex-start;
}
.file-upload .file-upload-select {
  width: 614px;
	cursor: pointer;
	text-align: left;
	overflow: hidden;
  padding-left: 14px;
margin-left: 14px;
  height: 40px;
      background: transparent;
      border-radius: 16px;
      margin-bottom: 28px;
      border:  1px solid #8A8A8A;
      padding-left: 10px;
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      font-size: 16px;
      line-height: 140%;
      color:#8A8A8A;
      &:hover {
        box-shadow: 0 1px 0 #29A9EE , inset 0 1px 0 #41E4F0;
        cursor: pointer;
      }
      &:focus {
        box-shadow: 0 1px 0 #29A9EE , inset 0 1px 0 #41E4F0;
        cursor: pointer;
      }
}
.file-upload {
  span {
    display: flex;
    text-align: right;
  }
}
.file-upload .file-upload-select .file-select-button {
  background: transparent;
  display: inline-block;
  width: 70px;
  border-right: 1px solid #8A8A8A;
  padding-left: 20px;
    box-sizing: border-box;
    img {
      width: 18px;
      height: 20px;
      opacity: 0.5;
    }

}
.file-upload .file-upload-select .file-select-name {
	display: inline-block;
	padding: 10px;
}

.file-upload .file-upload-select input[type="file"] {
	display: none;
}
.submit-form {
  margin-top: 50px;
}
@media (max-width: 1300px) {
.modal-content {
  width: 90% !important; 
}
.modal-message_text {
  p {
    &:nth-of-type(1) {
      font-size: 5vw !important;
    }
  }
}
}
@media (min-width:992px) and (max-width:1200px) {
.modul-window-main {
  width: 90%;
  margin: 0 auto;
    .clients {
      input,textarea {
        width: 450px;
      }
    }
  }
.clients {
  .submit-form {
    width: 112px !important;
    height: 112px !important;
    border-radius: 50%;
  } 
}
.file-upload {
  .file-upload-select {
    width: 450px;
  }
}
.submit-recommendation {
  font-size: 15px;
  margin-left: 20px;
}
}
@media (max-width:991px) {
.modul-window-main {
  width: 100%;
  box-sizing: border-box;
  .clients {
    flex-direction: column;
    input {
      width: 100%;
      box-sizing: border-box;
      height: 54px;
    }
    textarea {
      width: 100%;
      box-sizing: border-box;
      height: 200px;
    }
    label {
      font-size: 5vw !important;
      width: auto !important;
      text-align: left;
      margin-bottom: 10px;
    }
  }
  h3 {
    margin-left: 0;
    &::before {
      content: none;
    }
  }
}
.clients {
  .submit-form {
    width: 112px !important;
    height: 112px !important;
    margin-left: 0;
  }
}
.modal_animation {
  width: 100vw;
  box-sizing: border-box;
}
.modal-message_text {
  button {
    width: 88px;
    height: 88px;
    font-size: 12px;
  }
}
#modul-window_open {
  right: 35%;
}
.file-upload {
  flex-direction: column;
  height: max-content;
  span {
    text-align: left;
    font-size: 5vw;
     margin-bottom: 10px;
  }
}
.file-upload-select {
  height: 54px !important;
  display: flex;
  align-items: center;
  margin-left: 0 !important;
  width: 100% !important;
  box-sizing: border-box;
}
label {
  display: block;
}
.iti {
  width: 100%;
}
@media (orientation:landscape) {
  .modul-window-main  {
    .clients  {
      label {
        font-size: 3vw !important;
      }
    }
  }
  .file-upload {
    span {
      font-size: 3vw;
    }
  }
}
}
@media (max-width:768px) {
h3 {
  font-size: 4.5vw;
}
.submit-recommendation {
  font-size: 3vw !important;
  margin-bottom: 10px;
}
.modul-window-main {
  .clients {
    .submit-form {
      width: 88px !important;
      height: 88px !important;
      font-size: 12px;
    }
  }
}
.iti__country-list {
  border-radius: 12px !important;
}
.modal-message {
  flex-direction: column-reverse;
  align-items: center;
  padding: 50px 100px;
  box-sizing: border-box;
}
.modal-message_text {
  width: 100%;
  padding: 0;
}
.modal-message_img {
  width: 100%;
}
.modal-message-manager {
  justify-content: center;
  p {
    font-size: 2vw;
  }
}
@media(orientation:landscape) {
.clients {
  input {
    height: 40px;
  }
}
.modal-message {
  flex-direction: row;
  padding: 15px 25px;
  .modal-message_text {
    p {
      &:nth-of-type(1) {
        font-size: 4vw;
      }
      &:nth-of-type(2) {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
}
}
.logo-modal-message {
  margin-bottom: 0;
}
.close-modal-message {
  width: 75px !important;
  height: 75px !important;
}
}
@media (max-width:576px) {
.modul-window-header {
  p {
    font-size: 5vw;
  }
}
.submit-recommendation {
  span {
    display: block;
  }
}
.modal-message {
  padding: 40px;
}
.logotype-text {
  display: none;
}
}
@media (max-width:352px) {
.modal-message {
  padding: 20px;
}
}





