
#modul-window_open{
  position: absolute;
  z-index: 2;
  top: 0;
  right: 5%;
  width: 175px !important;
  margin-top: 0;
  span {
    &:nth-of-type(1) {
     width: 110px; 
      margin-right: 15px;
    }
  }
}
.submitform {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.modal{
  display: none;
  z-index: 110;
  position: fixed;
  overflow: auto;
  background-color: #151515;
}
.modal_close{
  cursor: pointer;  
}
.modal_animation{
  animation: fadeIn 0.5s 1;
}
@keyframes fadeIn {
  0% {opacity: 0}
  10% {opacity: 0.1}
  20% {opacity: 0.2}
  30% {opacity: 0.3}
  40% {opacity: 0.4}
  50% {opacity: 0.5}
  60% {opacity: 0.6}
  70% {opacity: 0.7}
  80% {opacity: 0.8}
  90% {opacity: 0.9}
  100% {opacity: 1}
}
.modul-window-main {
  margin-left: 154px;
  width: 900px;
  padding-top: 104px;
  form {
    margin-bottom: 120px;
    .form-row {
      input, textarea {
        width:600px;
        height: 55px;
        background: transparent;
        border-radius: 16px;
        margin-bottom: 28px;
        border:  1px solid #8A8A8A;
        padding-left: 15px;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color:  white;
        display: inline-block;
      }
    }
  }
}
.form-control {
  &:focus {
    background: #151515 !important;
    outline: none;
    box-shadow: unset;
  }
}
.clients {
  .form-row {
    input, textarea {
      &:hover, 
      &:focus {
        border: 2px solid#2ED7AB;
        cursor: pointer;
      }
    }
  }
}
textarea {
  height: 160px !important;
  padding-top: 10px;
  resize: none;   
}    
.modul-window-header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-bottom: 1px solid #6D6D6D;
  p {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 0;
  }
}
h3 {
  font-weight: 800;
  font-size: 32px;
  line-height: 140%;
  color:$white;
  position: relative;
  text-align: left;
  margin-bottom: 48px;
  margin-left: 300px;
  &:before {
    content: "01";
    font-weight: 800;
    font-size: 16px;
    line-height: 110%;
    color: #FFFFFF;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: -40px;
  }
    &:nth-of-type(2) {
      &::before {
        content: "02";
      }
    }
    &:nth-of-type(3) {
      &::before {
        content: "03";
      }
    }
    &:nth-of-type(4) {
      &::before {
        content: "04";
      }
    }
}
.submit-form {
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    margin-left: 300px;
    display: inline-block;
    margin-top: 0;
}

.iti.iti--allow-dropdown {
    margin-bottom: 28px !important;
    margin-left: 20px;
}
.iti__selected-flag {
  padding-left: 16px;
}
.submit-recommendation {
  display: inline-block;
  margin-left: 40px;
  color: #D0D0D0;
  font-size: 18px;
  line-height: 140%;
}
.iti__country-list {
  background: #151515 !important;
}
.iti__country-name {
  color:white !important;
}
.modul-window-main  {
  form  {
    .form-row  {
      .phone {
        padding-left: 60px;
      }
    }
  }
}

.modal-message_img {
  width: 50%;
  display: flex;
  position: relative;
  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    .object {
      height: 100%;
      img {
        position: absolute;
        width: 100px;
        height: 28px;
        &:nth-of-type(1) {
          right: 80%;
          top: 49%;
        }
        &:nth-of-type(2) {
          right: 30%;
          top: 65%;
        }
        &:nth-of-type(3) {
          right: 15%;
          top: 20%;
        }
      }
    }
  }
}
.logo-modal-message {
  height: 80px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #414141;
  margin-bottom: 50px;
  p {
      font-size: 20px;
      margin-bottom: 0;
  }
}
.modal-message {
  display: flex;
  width: 100%;
  background: linear-gradient(90.96deg, #0DC6B7 0%, #61F198 99.64%);
  border-radius: 48px;
  height: fit-content;
}
.partners-modal {
  background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%);
}
.modal-message_text {
  width: 45%;
  padding: 59px 0 39px 80px;
  p {
    &:nth-of-type(1) {
      font-weight: 800;
      font-size: 64px;
      line-height: 115%;
      color: #151515;
      margin-bottom: 8px;
    }
    &:nth-of-type(2) {
      font-size: 18px;
      line-height: 140%;
      color: #151515;
      margin-bottom: 42px;
    }
  }
  button {
      width: 112px;
      height: 112px;
      border-radius: 50%;
      background: #151515;
      font-weight: 600;
      font-size: 16px;
      line-height: 115%;
      display: flex;
      align-items: center;
     justify-content: center;
      color: #fff;
  }
}


.modal-content {
  margin: 0 auto; 
  width: 1200px; 
  background: transparent;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 25px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-message-manager {
  display: flex;
  justify-content: flex-end; 
  margin-top: 20px;
    p{
      font-size: 16px;
      line-height: 140%;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      a {
        text-decoration: none;
        background: linear-gradient(90.96deg, #0EC4B5 0%,#51E689 99.64%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 0 5px;
      }
    }

}
#menu {
  display: flex;
  align-items: flex-start;
  height: calc(100vh + 100px);
  .wrapper {

    .partners-toggle-switch {
      .toggle-custom {
        label {
            input {
              opacity: 0;
            }
        }
        a {
        &:nth-of-type(1) {
          span {
            background: linear-gradient(90.96deg, #fff 0%, #fff 99.64%) !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            background-clip: text !important;
          }
        }
      }
    }
  }
}
}
.partners-form {
  .form-row {
    input,textarea {
      &:hover {
        border: 2px solid #35C5F0;
        cursor: pointer;
      }
      &:focus {
        border: 2px solid #35C5F0;
        cursor: pointer;
      }
    }
  }
}
.file-upload {
  display: flex;
  font-size: 16px;
  line-height: 140%;
  color:#8A8A8A;
  height: 55px;
  align-items: center;
}

.file-upload .file-upload-select {
  width: 600px;
	cursor: pointer;
	text-align: left;
	overflow: hidden;
  padding-left: 14px;
  margin-left: 14px;
  height: 55px;
      background: transparent;
      border-radius: 16px;
      border:  2px solid #8A8A8A;
      padding-left: 10px;
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      font-size: 16px;
      line-height: 140%;
      color:#8A8A8A;
      &:hover {
        border: 2px solid #35C5F0;
        cursor: pointer;
      }
      &:focus {
        border: 2px solid #35C5F0;
        cursor: pointer;
      }
}

.form-row {
  display: flex;
  height: 55px;
  justify-content: flex-end;
  align-items: baseline;
  margin-bottom: 28px;
  position: relative;
  max-width: 100%;
  margin-right: 0 !important;
  margin-left: 0 !important;
  label {
    height: auto !important;
    margin: 0 !important;
    color: #A1A1A1 !important;
  }
  input {
    position: relative !important;
    box-sizing: border-box;
    margin-left: 20px;
    margin-bottom: 0;
  }
  textarea {
    margin-left: 20px;
  }
  .invalid-feedback {
    position: absolute;
    top: 30px;
    left: 18.5%;
    width: max-content;
  }
}
.clients {
  .form-row {
    &:nth-of-type(6) {
      align-items: flex-start;
      height: 160px;
      margin-bottom: 120px;
      label {
        margin-top: 10px !important;
      }
      .invalid-feedback {
        top: 30px
      }
      textarea {
        margin-bottom: 0;
      }
    }
    &:nth-of-type(12) {
      align-items: flex-start;
      height: 160px;
      margin-bottom: 120px;
      label {
        margin-top: 10px !important;
      }
      .invalid-feedback {
        top: 30px
      }
      textarea {
        margin-bottom: 0;
      }
    }
    &:nth-of-type(16) {
      margin-bottom: 120px;
    }
    &:nth-of-type(21) {
      align-items: flex-start;
      height: 160px;
      margin-bottom: 0;
      label {
        margin-top: 10px !important;
      }
      .invalid-feedback {
        top: 30px
      }
      textarea {
        margin-bottom: 0;
      }
    }
  }
}
.form-row{ 
  textarea + .invalid-feedback {
    top: 70px;
}
}
.partners-form {
  .form-row {
    &:nth-of-type(6) {
      height: 55px;
      margin-bottom: 28px;
    }
    &:nth-of-type(7) {
      align-items: flex-start;
      height: 160px;
      margin-bottom: 28px;
      .invalid-feedback {
        top: 20px;
      }
    }
    &:nth-of-type(10) {
      align-items: flex-start;
    }
    &:nth-of-type(12) {
      align-items: flex-start;
      height: 160px;
      margin-bottom: 28px;
      .invalid-feedback {
        top: 30px;
      }
    }
    &:nth-of-type(13) {
      align-items: flex-start;
      height: 55px;
      margin-bottom: 28px;
    }
    &:nth-of-type(14) {
      align-items: flex-start;
      .invalid-feedback {
        top: 40px;
      }
    }
    &:nth-of-type(15) {
      align-items: flex-start;
      .invalid-feedback {
        top: 25px;
      }
    }
    label {
      width: 20%;
      text-align: right;
    }
  }
  input[type="file"] {
    position: relative;
    padding-top: 12px;
    color: #8A8A8A;
    padding-left: 0;
    &:after {
      content: '';
      background: url(../images/partners/file.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 5%;
      top: 27%;
      width: 18px;
      height: 21px;
      
    }
    &:hover {
      &:after {
        content: '';
        background: url(../images/upload-hover.png);
        background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 5%;
      top: 27%;
      width: 18px;
      height: 21px;
        transition: all 0.5s;
      }
    }
  }
  
  .submitform {
    .icon-expand {
      &:before {
        box-shadow: inset 0 0 0 60px #fff;
      }
      span {
        color: #151515;
      }
      &:hover {
        &::before {
          box-shadow: inset 0 0 0 1px #35C5F0;
        }
        span {
          color: #fff;
      }
      }
    }
    .icon {
      span {
        top: 47px !important;
      }
    }
  }
  .submit-recommendation {
    margin-bottom: 0;
  }
.phone-style {
  padding-left: 60px !important;
}
input[type=file]::-webkit-file-upload-button {
  border: none;
  width: 75px;
  padding: .2em .1em;
  border-radius: .2em;
  background-color: transparent;
  transition: 1s;
  color: transparent;
}
}
.error {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  background: #151515;
  height: 100vh;
  .modal-content {
    .logo-modal-message {
      border: none;
      height: 0;
      .close {
        right: 30px;
        top: 75px;
        svg {
          g {
            rect {
              fill: #151515;
            }
          }
        }
      }
    }
    .modal-message {
      background: #fff;
      .modal-message_img {
        .container {
          .object  {
            img {
              &:nth-of-type(1) {
                right: 86%;
                top: 69%;
              }
               &:nth-of-type(2) {
                right: 64%;
                top: 12%;
              }
              &:nth-of-type(3) {
                right: 15%;
                top: 40%;
              }
            }
          }
        }
      }
    }
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 0;
    margin-top: 10px;
    a {
      text-decoration: none;
      color: #35C5F0;
      margin: 0 5px;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100vh;
    padding-bottom: 100px;
  }
}
.form-control.is-valid, .was-validated .form-control:valid {
  border-color:#4F4F4F;
  background-image: none;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
  border: 2px solid#FF005E !important;
}
.partners-link {
  a {
    background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
  }
}
.clien {
  .submit-recommendation {
    margin-bottom: 0 !important;
    a {
      color:#2ED7AB !important;
      -webkit-text-fill-color:#2ED7AB !important;
    }
  }
}
@media (max-width: 1300px) {
.modal-content {
  width: 90% !important; 
}
.modal-message_text {
  p {
    &:nth-of-type(1) {
      font-size: 5vw !important;
    }
  }
}
}
@media (max-width:992px) {
.modul-window-main {
  padding-top: 72px;
}
.clien  {
  .icon  {
    span {
      top: 48px !important; 
    }
  }
}
h3 {
  font-size: 32px;
  margin-bottom: 32px;
  margin-left: 0;
  margin-top: 96px; 
  &:nth-of-type(1) {
    margin-top: 0 !important;
  }
  &:before {
    content: none;
  }
}
.modul-window-main {
  max-width: 100%;
  form {
    .form-row {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     height: auto !important;
     label {
      width: auto;
      font-size: 16px;
      height: auto !important;
      margin-bottom: 8px !important;
     }
     input {
      width: 100%;
      height: 54px;
      margin-left: 0;
      margin-bottom: 0 !important;
     }
     .invalid-feedback {
      margin-top: 0;
      top: 80px;
      left: 0;
     }
     textarea {
      width: 100%;
      height: 160px !important;
      margin-left: 0;
      margin-bottom: 0 !important;
     }
    }
  }
}
.was-validated :invalid~.invalid-feedback {
  font-size: 11px !important;
  line-height: 140% !important;
  color:#FF005E !important;
}
.iti.iti--allow-dropdown {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  width: 100%;
}
.clients {
  .form-row {
    &:nth-of-type(6) {
      margin-bottom: 0 !important;
      .invalid-feedback {
        top: 200px !important;
      }
    }
    &:nth-of-type(12) {
      margin-bottom: 0 !important;
    }
    &:nth-of-type(16) {
      margin-bottom: 0 !important;
    }
    &:nth-of-type(21) {
      margin-bottom: 0 !important;
    }
  }
}
.partners-form  {
  .form-row {
    &:nth-of-type(7)  {
      .invalid-feedback {
        top: 188px !important;
      }
    }
    &:nth-of-type(12)  {
      .invalid-feedback {
        top: 188px !important;
      }
    }
    &:nth-of-type(14)  {
      .invalid-feedback {
        top: 80px !important;
      }
    }
    &:nth-of-type(15)  {
      .invalid-feedback {
        top: 80px !important;
      }
    }
  }
}
.partners-form {
  .submitform  {
    .icon  {
      span {
        top: 48px !important; 
      }
    }
  }
}
.submitform {
  margin-top: 56px;
  display: flex;
  align-items: center;
  .submit-form {
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
  .submit-recommendation {
    margin-bottom: 0;
    display: flex;
    font-size: 16px !important;
    a {
      margin-left: 5px;
      color: #2ED7AB;
      text-decoration: none;
      display: flex;
      -webkit-text-fill-color: #2ED7AB;
      font-size: 16px !important;
    }
  }
}
}
@media (max-width:576px) {
.modul-window-header {
  height: 56px;
  p {
    font-size: 14px;
  }
}
.modul-window-main  {
  form  {
    .form-row  {
     .phone {
      padding-left: 60px !important;
     }
    }
  }
}
.modal_close {
  svg {
    width: 24px;
    height: 24px;
  }
}
.modul-window-main {
  padding-top: 48px;
}
h3 {
  font-size: 24px;
  margin-bottom: 24px;
  margin-top: 80px;
  &:nth-of-type(1) {
    margin-top: 0;
  }
  &::before {
    content: none !important;
  }
}
.modul-window-main  {
  .form-row {
    margin-bottom: 25px !important;
    label {
      text-align: left;
      width: auto;
      font-size: 14px;
      margin-bottom: 4px !important;
      color: #8A8A8A !important;
    }
    input {
      height: 44px !important;
      font-size: 14px !important;
      color: #fff !important;
      padding-left: 10px !important;
      border-radius: 10px !important;
    }
    .invalid-feedback {
      margin-top: 0;
      top: 70px !important;
      font-size: 10px !important;
    }
    textarea {
      height: 96px !important;
    }
  }
}
.clients {
  .form-row {
    &:nth-of-type(6)  {
      .invalid-feedback {
        top: 200px !important;
      }
    }
  }
}
.submitform {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  .submit-recommendation {
    width: 50%;
    font-size: 12px !important;
    margin-left: 0;
    display: block;
    a {
      color: #2ED7AB;
      text-decoration: none;
      display: block;
      -webkit-text-fill-color: #2ED7AB;
      font-size: 12px !important;
      margin-left: 0;
    }
  }
  .submit-form {
    width: 88px !important;
    height: 88px !important;
    span {
      font-size: 12px !important;
      top: 34px !important;
    }
  }
}
.partners-form {
  .submitform {
    .icon {
      span {
        top: 34px !important;
      }
    }
  }
}
.modul-window-main  {
  .clients  {
    margin-top: 7px;
    .submit-form {
      width: 88px !important;
      height: 88px !important;
      margin-top: 0 !important;
      span {
        top: 34px !important;
        font-size: 12px !important;
      }
    }
  }
}
.partners-form  {
  .form-row {
    &:nth-of-type(7) {
      .invalid-feedback {
        top: 188px !important;
      }
    }
    &:nth-of-type(10) {
      .invalid-feedback {
        top: 86px !important;
      }
    }
     &:nth-of-type(13) {
      .invalid-feedback {
        top: 87px !important;
      }
    }
    &:nth-of-type(12) {
      .invalid-feedback {
        top: 188px !important;
      }
    }
    &:nth-of-type(14) {
      .invalid-feedback {
        top: 88px !important;
      }
    }
    &:nth-of-type(15) {
      .invalid-feedback {
        top: 72px !important;
      }
    }
    .invalid-feedback {
      top: 73px !important;
    }
  }
}
.partners-form  {
  input[type="file"] {
    padding-top: 10px;
    color: #8A8A8A !important;
    padding-left: 0 !important;
    &:after {
      width: 15px;
      height: 17px;
    }
    &:hover {
      &::after {
        width: 15px;
        height: 17px;
      }
    }
  }
}
.modul-window-main {
  form {
    margin-bottom: 40px;
  }
}
#menuToggle  {
  .menuToggle-span {
    top: 5px;
  }
}
}




