/*Reviews client --------------------------------------------*/
@mixin h4-before {
    font-weight: 800;
    font-size: 16px;
    line-height: 110%;
    color: #151515;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 2%;
}
.slider__item {
    border: 1px solid #151515;
    border-radius: 40px;
    padding: 56px 56px 40px 48px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
    margin-right: 20px;
    height: 400px !important;
    box-sizing: border-box;
    display: flex !important;
    justify-content: space-between;
    p {
        font-size: 16px;
        line-height: 140%;
        color: #151515;
        margin-bottom: 20px;
    }
    span {
        font-weight: 800;
        font-size: 16px;
        line-height: 110%;
        color: #151515;
       
    }
}
h4 {
    font-weight: 800;
    font-size: 24px;
    line-height: 110%;
    text-transform: uppercase;
    color: #151515;
    position: relative;
}
.slider {
    .slider__item {
        &:nth-of-type(1) {
            h4 {
                &::before {
                content: "01";
                @include h4-before;
                }
            }
        }
        &:nth-of-type(2) {
            h4 {
                &::before {
                content: "02";
                @include h4-before;
                }
            }
        }
        &:nth-of-type(3) {
                h4 {
                &::before {
                content: "03";
                @include h4-before;
                }
            }     
        }
    } 
}
.reviews {
    height: 100%;
    padding-top: 20px;
    width: 100%;
    padding-top: 160px;
    padding-bottom: 25px;
    margin-bottom: 160px;
    h2 {
        margin-left: 50%;
        margin-bottom: 70px;
        margin-top: 0;
        position: relative;
        span {
              filter: drop-shadow(4px 4px #151515);
        }
        &::before {
            content: "04";
            font-weight: 800;
            font-size: 24px;
            line-height: 110%;
            text-align: right;
            color: #151515;
            opacity: 0.5;
            position: absolute;
            top: 0;
            left: -40px;
        }
    }
}
.slick-next,
.slick-prev {
    top: -105px !important;
    width: 40px !important;
    height: 40px !important;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:before {
        color: #151515 !important;
    }
    &:hover {
        background: #151515 !important;
        &:before {
            background: linear-gradient(90.96deg, #51E689 0%, #0EC4B5 99.64%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            width: 32px !important;
        }
    }
}
.slick-prev {
    left: 10% !important;
}
.slick-next {
    left: 15% !important;
}
.slick-dots {
    left: -0.5%;
   margin-bottom: -30px !important;
   .slick-active {
    background: #151515;
    }
    li {
        width: 12px !important;
        height: 12px !important;
        border: 1px solid #151515;
        border-radius: 50%;
        button {
            &::before {
                content: "" !important;
                width: 12px !important;
                height: 12px !important;
            }
        }
    }
}

/*Reviews partners --------------------------------------------*/
.partners-reviews {
    h2 {
        span {
            @include partners-gradient;
        }
    }
}

/*@media min-width: 992px --------------------------------------------*/
@media (max-width: 992px) {
.reviews {
    height: 100%;
    padding-bottom: 50px;
    }
    .slick-dots {
        bottom: -10px !important;
    }
@media (orientation:landscape) {
    .slick-next,
    .slick-prev {
        display: none !important;
    }  
.reviews {
    padding-top: 50px;
    h2 {
        margin-bottom: 30px;
        &::before {
            content: none;
        }
    }
}
}
}
/*@media min-width: 576px --------------------------------------------*/
@media (max-width: 576px) {
.reviews {
    height: 100%;
    padding-top: 80px;
  .wrapper {
        h2 {
            font-size: 40px;
            margin-left: 0;
            margin-bottom: 0;
            span {
                font-size: 40px;
                filter: drop-shadow(2px 2px #151515);
            }
        }
        .slider  {
            margin-top: 40px;
            .slick-list  {
                .slider__item {
                    justify-content: flex-start;
                    padding: 40px 28px 33px 28px;
                    height: 100% !important;
                }
            }
        }
    }
}
.slick-next,
.slick-prev {
    top: -30px !important;
}
.slick-prev {
    left: 30% !important;
}
.slick-next {
    left: 50% !important;
}
.slider {
    .slider__item {
        h4 {
            font-size: 18px;
            margin-bottom: 16px;
            &::before {
                content: none !important;
            }
        }
        p {
            font-size: 13px;
            margin-bottom: 65px;
        }
        span {
            font-size: 13px;
        }
    }
}
@media (orientation:landscape) {
    .slick-next,
    .slick-prev {
        display: none !important;
    } 
}
}
