/*Client------------------------------------------------------------------------------*/
.tittle {
    margin: 0 auto;
    padding-bottom: 120px;
    .wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
    }
}
.tittle-container {
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 104px;
    line-height: 105%;
    color: #151515;
    margin-top: 12px;
    margin-bottom: 0;
    span {
        margin-left: 160px;
        position: relative;
        &::after {
            content: '';
            background:url(../images/revenue.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 25px;
            left: 0;
            z-index: -1;
        }
       i {
        background: linear-gradient(90.96deg, #0EC4B5 0%,#51E689 99.64%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #151515;
        filter: drop-shadow(3px 3px #151515);
       }
    }
}
.partners-tittle {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 104px;
        line-height: 105%;
        color: #151515;
        margin-top: 12px;
        margin-bottom: 0;
        span {
            margin-left: 160px;
            position: relative;
            &::after {
                content: '';
                background:url(../../images/partners/line-tittle.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 25px;
                left: 0;
                z-index: -1;
            }
           i {
            background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%) !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            -webkit-text-stroke: 1px #151515 !important;
            filter: drop-shadow(3px 3px #151515) !important;
           }
}
}

.partners {
   &:hover {
    background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
   }
}
.tittle-container-btn {
    display: flex;
    margin-top: 40px;
    padding-left: 50%;
    p {
        font-size: 18px;
        line-height: 140%;
        display: flex;
        align-items: center;
        color: #151515;
        margin-bottom: 0;
    }
    .btn-send-request {
        width: 144px;
        height: 144px;
        font-size: 18px;
    }
}
/*Partners------------------------------------------------------------------------------*/

/*@media max-width: 992px --------------------------------------------*/ 
@media (max-width:992px) {
.tittle  {
    .wrapper {
        padding-top: 156px;
        .toggle-switch {
            margin-left: 16%;
            .toggle-custom {
                a {
                    font-size: 18px;
                }
            }
        }
    }
}
.tittle-container {
    margin-top: 56px;
    h1 {
        font-size: 104px;
        margin-top: 0;
        span {
            margin-left: 64px;
        }
        br {
            &:nth-of-type(2) {
                display: none;
            }
        }
    }
}
.tittle-container-btn {
    margin-top: 64px;
    padding-left: 16%;
    p {
        font-size: 18px;
    }
    button {
        width: 112px !important;
        height: 112px !important;
        padding: 0 !important; 
        font-size: 16px !important;
    }
}
}
/*@media max-width: 576px --------------------------------------------*/ 
@media (max-width: 576px) {
.tittle {
    padding-bottom: 78px;
    .wrapper {
        padding-top: 117px;
        .toggle-switch {
            margin-left: 0;
            .toggle-custom {
                a {
                    font-size: 14px;
                }
            }
        }
    }
}
.tittle-container {
    margin-top: 35px;
    h1 {
        font-size: 56px;
        span {
            margin-left: 28px;
            &:after {
                top:10px;
            }
        }
        br {
            &:nth-of-type(2) {
                display: none;
            }
        }
    }
}

.tittle-container-btn {
    padding-left: 0;
    margin-top: 48px;
    p {
        font-size: 14px;
    }
    .btn-send-request {
        width: 88px;
        height: 88px;
        font-size: 12px;
    }
}
.tittle-partners {
    font-size: 48px;
}
}




 
  #myDiv {
    display: none;
  }
#loader {
    width: 100%;
    height: 100vh;
    background: #151515;
    position: relative;
    .loader-container {
        padding-top: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background: #FFFFFF;
        border: 1px solid #151515;
        border-radius: 24px;
        height: 200px;
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.loader-container-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        margin-top: 10px;
        color: #151515;
        font-weight: 800;
        font-size: 16px;
        margin-bottom: 0;
    }
    img {
        width: 67px;
        height: 55px;
    }
}
  .gooey {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: white;
  filter: contrast(10);
  .dot
  {  position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}
  .dots
   {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
    span {
        display: block;
        float: left;
        width: 16px;
        height: 16px;
        margin-left: 16px;
        filter: blur(4px);
        background: #000;
        border-radius: 50%;
    }
   }
}
@keyframes dot {
    50%
   { transform: translateX(96px);}
}
@keyframes dots {
    50%
    {transform: translateX(-31px);}}