.toggle-switch {
  margin-left: 50%;
}
.toggle-custom {
  display: flex;
  align-items: center;
  height: 30px;
  width: max-content;
  position: relative;
  .toggle-custom-container {
    input {
      z-index: 99;
      position: absolute;
      opacity: 0;
      width: 38px;
      height: 20px;
      left: 0;
      cursor: pointer;
        &:checked + label {
          position: relative;
          background: white;
          border: none;
          transition: .2s;
            &:after {
              content: '';
              background: linear-gradient(90.96deg,#0EC4B5 0%,#51E689 99.64%);
              transition: .2s;
              -webkit-transform: translateX(120%);
              -ms-transform: translateX(120%);
              transform: translateX(120%);
            }
            &::before {
              position: absolute;
              top: -2px; bottom: -2px;
              left: -2px; right: -2px;
              background: linear-gradient(#0EC4B5, #51E689);
              content: '';
              z-index: -1;
              border-radius: 40px;
              transition: .2s;
            }
      }
    }
  }
}
.toggle-custom {
  .toggle-custom-container {
    order: 2;
    width: 38px;
    height: 20px;
    position: relative;
    margin: 0 20px;
    label {
      width: 38px;
      height: 20px;
      cursor: pointer;
      order: 2;
      transition: all 0.2s ease-in-out;
      margin-bottom: 0;
      &::after {
        content: '';
        width: 16px;
        height: 16px;
        background: #151515;
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 50%;
        -webkit-transition: .4s;
        transition: .4s;
      }
      &::before {
        height: 21px;
        width: 40px;
        border: 1px solid #151515;
      border-radius: 40px;
        position: absolute;
        top: -2px; bottom: -2px;
        left: -2px; right: -2px;
        background: linear-gradient(#0EC4B5, #51E689);
        content: '';
        z-index: -1;
        border-radius: 40px;
        transition: .2s;
      }
    }
  }
}

.toggle-custom {
  a {
    font-size: 20px;
    line-height: 150%;
    color: #151515;
    text-decoration: none;
    &:nth-of-type(1) {
      order: 1;
    }
    &:nth-of-type(2) {
      order: 3;
      opacity: 0.5
    }
  }
}
.toggle-custom-burger {
  margin-left: 0;
  .toggle-custom {
    .toggle-custom-container {
      label {
        border: 1px solid #fff;
        &::after {
          content: '';
          background: white;
        }
      }
    }
    a {
      color: #FFFFFF;
      &:nth-of-type(2) {
        opacity: 1;
      }
    }
  }
}
.toggle-partners,
.partners-toogle {
  .toggle-custom {
    .toggle-custom-container {
    input {
      &:checked + label {
        position: relative;
        background: white;
        border: none;
        transition: .2s;
          &:after {
            content: '';
            background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%);
            transition: .2s;
            -webkit-transform: translateX(-120%);
            -ms-transform: translateX(-120%);
            transform: translateX(-120%);
          }
          &::before {
            position: absolute;
            top: -2px; bottom: -2px;
            left: -2px; right: -2px;
            background: linear-gradient(#29A9EE, #41E4F0);
            content: '';
            z-index: -1;
            border-radius: 40px;
            transition: .2s;
          }
      }
    }
    }
  }
}
.clients-toogle {
  .toggle-custom {
    a {
      &:nth-of-type(2) {
        &:hover {
          background: linear-gradient(90.96deg,#0EC4B5 0%,#51E689 99.64%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
    }
  }
}
.toggle-partners {
  .toggle-custom {
    .toggle-custom-container {
      label {
        &::after {
          background: white;
          right: 2px !important;
          left: auto;
        }
      }
    }
    a {
      &:nth-of-type(1) {
        &:hover {
          background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
    }
  }
}
.partners-toogle {
  .toggle-custom {
    .toggle-custom-container {
      label {
        &::after {
          right: 2px !important;
          left: auto;
        }
      }
    }
  }
  a {
    &:nth-of-type(1) {
      &:hover {
         background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
      }
    }
    &:nth-of-type(2) {
      opacity: 1;
    }
  }
}

.tittle {
  .wrapper {
    .partners-toogle {
      .toggle-custom {
        .toggle-custom-container {
          input {
            &:hover {
              ~ label {
            position: relative;
            background: white;
            border: none;
            transition: .2s;
              &:after {
                content: '';
                background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%);
                transition: .2s;
              }
              &::before {
               border: none;
                position: absolute;
                top: -2px; bottom: -2px;
                left: -2px; right: -2px;
                background: linear-gradient(#29A9EE, #41E4F0);
                content: '';
                z-index: -1;
                border-radius: 40px;
                transition: .2s;
              }
            }
           
            }
           
          }
        }
      }
    }
  }
}

.toggle-custom-burger.toggle-partners {
      .toggle-custom {
        .toggle-custom-container {
          input {
            &:hover {
              ~ label {
              &:after {
                content: '';
                background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%);
                transition: .2s;
              }
            }
           
            }
           
          }
        }
      }
    }

    .tittle {
      .wrapper {
        .toggle-switch {
          .clients-toogle {
            .toggle-custom-container {
              input {
                &:hover {
                  ~ label {
                position: relative;
                background: white;
                border: none;
                transition: .2s;
                  &:after {
                    content: '';
                    background: linear-gradient(90.96deg,#0EC4B5 0%,#51E689 99.64%);
                    transition: .2s;
                  }
                  &::before {
                    height: 18px;
                    width: 36px;
                    border: 1px solid transparent;
                    position: absolute;
                    top: -2px; bottom: -2px;
                    left: -2px; right: -2px;
                    background: linear-gradient(#0EC4B5, #51E689);
                    content: '';
                    z-index: -1;
                    border-radius: 40px;
                    transition: .2s;
                  }
                }
               
                }
               
              }
            }
            a {
              &:hover {
                &:nth-of-type(2) {
                  background: linear-gradient(90.96deg,#0EC4B5 0%,#51E689 99.64%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  background-clip: text;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
    
    .toggle-custom-burger.clients-toogle {
          .toggle-custom {
            .toggle-custom-container {
              input {
                &:hover {
                  ~ label {
                  &:after {
                    content: '';
                    background: linear-gradient(90.96deg,#0EC4B5 0%,#51E689 99.64%);
                    transition: .2s;
                  }
                }
               
                }
               
              }
            }
          }
        }
    



