@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&display=swap');

body {
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: $white;
    font-size: 14px;
    max-width: 100%;
    box-sizing: border-box;  
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.partners-blue {
    background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
.btn-send-request {
    a {
        text-decoration: none;
        color: #fff;
    }
}
h2 {
    font-weight: 800;
    font-size: 64px;
    line-height: 120%;
    color: $cod-gray;
    margin-top: 40px;
    span {
        background: linear-gradient(90.96deg, #0EC4B5 0%,#51E689 99.64%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}
.clients {
    input, textarea {
        &:hover {
            box-shadow: 0 1px 0 #51E589, inset 0 1px 0 #0EC3B5;
            cursor: pointer;
        }
    }
}
.partners {
    input, textarea {
        &:hover {
            box-shadow: 0 1px 0 #29A9EE, inset 0 1px 0 #41E4F0;
            cursor: pointer;
        }
    }
}


  input:required:valid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
    background-position: right top;
    background-repeat: no-repeat;
    box-shadow: 0 1px 0 green, inset 0 1px 0 green;
  }


  header {
    max-width: 100vw;
  }