@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&display=swap');

body {
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: $white;
    font-size: 14px;
    max-width: 100%;
    box-sizing: border-box;  
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.partners-blue {
    background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
.btn-send-request {
    a {
        text-decoration: none;
        color: #fff;
    }
}
h2 {
    font-weight: 800;
    font-size: 64px;
    line-height: 120%;
    color: $cod-gray;
    margin-top: 40px;
    span {
        background: linear-gradient(90.96deg, #0EC4B5 0%,#51E689 99.64%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}
.clients {
    input {
        &:hover {
            box-shadow: 0 1px 0 #51E589, inset 0 1px 0 #0EC3B5;
            cursor: pointer;
        }
    }
}
.partners {
    input {
        &:hover {
            box-shadow: 0 1px 0 #29A9EE, inset 0 1px 0 #41E4F0;
            cursor: pointer;
        }
    }
}
