
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Sora:wght@400;600;700;800&display=swap');


body {
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: $white;
    font-size: 14px;
    max-width: 100%;
    box-sizing: border-box;  
    overflow-x: hidden;
    outline: none !important;
    -ms-user-select: none; 
		-moz-user-select: none; 
		-webkit-user-select: none; 
		user-select: none; 
}
button {
    outline: none !important;
    font-weight: 600 !important;
    span {
        font-weight: 600 !important;
    }
}
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.partners-blue {
    background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
}

.partners-toggle-switch {
    .toggle-custom {
        label {
            &:after {
                left: inherit !important;
                right: 4px !important;
                background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%) !important;
            }
        }
        a {
            &:nth-of-type(1) {
                span {
                    
                    background: linear-gradient(90.96deg, #151515 0%, #151515 99.64%) !important;
                    -webkit-background-clip: text !important;
                    -webkit-text-fill-color: transparent !important;
                    background-clip: text !important;
                    &:hover {
                        background: linear-gradient(90.96deg, #0EC4B5 0%,#51E689 99.64%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }
                }
            }
            &:nth-of-type(2) {
                span {
                    background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%) !important;
                    -webkit-background-clip: text !important;
                    -webkit-text-fill-color: transparent !important;
                    background-clip: text !important;
                }
            }
        }
    }
}
.wrapper {
    width: 94%;
    margin: 0 auto;
}
.btn-send-request {
    a {
        text-decoration: none;
        color: #fff;
    }
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: $cod-gray;
    margin-top: 40px;
    span {
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(90.96deg, #0EC4B5 0%,#51E689 99.64%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    &::before {
        content: '';
        left: -47px !important;
    }
}
  header {
    max-width: 100vw;
  }
  @media (min-width:1500px) {
    .wrapper {
        width: 1352px !important;
        box-sizing: border-box;
    }
  }
  @media (max-width:768px) {
    h2 {
        font-size: 56px;
    }
  }
  @media (max-width:576px) {
    .wrapper {
        width: 90% !important;
        padding-left: 0 !important;
    }
    h2 {
        font-size: 40px !important;
        &::before {
            content: none !important;
        }
    }
  }