$white: #fff;
$black: #000;
$cod-gray:#151515;
$gradient: linear-gradient(90.96deg,#0EC4B5 0%,#51E689 99.64%);

@mixin text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin partners-gradient {
    background: linear-gradient(90.96deg, #29A9EE 0%, #41E4F0 99.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}




.animated-show {
    opacity: 0;
    transition: opacity 2s ease-out;
  }
  .animated-show.animated-show-active {
    opacity: 1;
  }

















